<div class="az-content">
  <div class="container">
    <app-components-sidebar></app-components-sidebar>
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Components</span>
        <span>UI Elements</span>
        <span>Icons</span>
      </div>
      <h2 class="az-content-title">Icons</h2>

      <div class="az-content-label mg-b-5">FontAwesome Icons</div>
      <p class="mg-b-20">The world’s most popular and easiest to use icon set just got an upgrade. More icons. More styles. More options.</p>

      <div class="az-icon-group bg-gray-200">
        <div class="row row-xs">
          <div class="col"><i class="far fa-address-book"></i></div>
          <div class="col"><i class="far fa-address-card"></i></div>
          <div class="col"><i class="far fa-arrow-alt-circle-down"></i></div>
          <div class="col"><i class="far fa-arrow-alt-circle-left"></i></div>
          <div class="col"><i class="far fa-arrow-alt-circle-up"></i></div>
          <div class="col"><i class="far fa-arrow-alt-circle-right"></i></div>
          <div class="col"><i class="fas fa-ban"></i></div>
          <div class="col d-none d-sm-block"><i class="far fa-bell"></i></div>
          <div class="col d-none d-sm-block"><i class="far fa-bell-slash"></i></div>
          <div class="col d-none d-sm-block"><i class="far fa-bookmark"></i></div>
          <div class="col d-none d-sm-block"><i class="far fa-calendar"></i></div>
          <div class="col d-none d-sm-block"><i class="far fa-calendar-check"></i></div>
        </div><!-- row -->
      </div>
      <div class="az-icon-group bg-gray-800 tx-white">
        <div class="row row-xs">
          <div class="col"><i class="far fa-check-circle"></i></div>
          <div class="col"><i class="far fa-clipboard"></i></div>
          <div class="col"><i class="far fa-clock"></i></div>
          <div class="col"><i class="far fa-clone"></i></div>
          <div class="col"><i class="far fa-comment"></i></div>
          <div class="col"><i class="far fa-compass"></i></div>
          <div class="col"><i class="fas fa-desktop"></i></div>
          <div class="col d-none d-sm-block"><i class="far fa-envelope"></i></div>
          <div class="col d-none d-sm-block"><i class="fas fa-envelope-open-text"></i></div>
          <div class="col d-none d-sm-block"><i class="far fa-eye"></i></div>
          <div class="col d-none d-sm-block"><i class="far fa-eye-slash"></i></div>
          <div class="col d-none d-sm-block"><i class="far fa-file-alt"></i></div>
        </div><!-- row -->
      </div>

      <p class="mg-t-15 mg-b-0">See more FontAwesome icons at <a href="https://fontawesome.com/icons" target="_blank">FontAwesome Icons</a></p>

      <hr class="mg-y-30">

      <div class="az-content-label mg-b-5">Ionicons Icons</div>
      <p class="mg-b-20">Premium designed icons for use in web, iOS, Android, and desktop apps. Support for SVG and web font.</p>

      <div class="az-icon-group bg-gray-200">
        <div class="row row-xs">
          <div class="col"><i class="icon ion-md-alarm"></i></div>
          <div class="col"><i class="icon ion-md-chatboxes"></i></div>
          <div class="col"><i class="icon ion-md-copy"></i></div>
          <div class="col"><i class="icon ion-md-cube"></i></div>
          <div class="col"><i class="icon ion-md-filing"></i></div>
          <div class="col"><i class="icon ion-md-eye"></i></div>
          <div class="col"><i class="icon ion-md-globe"></i></div>
          <div class="col d-none d-sm-block"><i class="icon ion-md-images"></i></div>
          <div class="col d-none d-sm-block"><i class="icon ion-md-laptop"></i></div>
          <div class="col d-none d-sm-block"><i class="icon ion-md-paper"></i></div>
          <div class="col d-none d-sm-block"><i class="icon ion-md-paper-plane"></i></div>
          <div class="col d-none d-sm-block"><i class="icon ion-md-pricetags"></i></div>
        </div><!-- row -->
      </div>
      <div class="az-icon-group bg-gray-800 tx-white">
        <div class="row row-xs">
          <div class="col"><i class="icon ion-ios-settings"></i></div>
          <div class="col"><i class="icon ion-ios-stats"></i></div>
          <div class="col"><i class="icon ion-ios-share-alt"></i></div>
          <div class="col"><i class="icon ion-ios-rocket"></i></div>
          <div class="col"><i class="icon ion-ios-rainy"></i></div>
          <div class="col"><i class="icon ion-ios-print"></i></div>
          <div class="col"><i class="icon ion-ios-pie"></i></div>
          <div class="col d-none d-sm-block"><i class="icon ion-ios-person"></i></div>
          <div class="col d-none d-sm-block"><i class="icon ion-ios-mic"></i></div>
          <div class="col d-none d-sm-block"><i class="icon ion-ios-locate"></i></div>
          <div class="col d-none d-sm-block"><i class="icon ion-ios-list-box"></i></div>
          <div class="col d-none d-sm-block"><i class="icon ion-ios-home"></i></div>
        </div><!-- row -->
      </div>

      <p class="mg-t-15 mg-b-0">See more Ionicons icons at <a href="https://ionicons.com" target="_blank">Ionicons</a></p>

      <hr class="mg-y-30">

      <div class="az-content-label mg-b-5">Typicons Icons</div>
      <p class="mg-b-20">Typicons are free-to-use vector icons embedded in a webfont for easy use in any UI, whether it be on the web or in a native app.</p>

      <div class="az-icon-group bg-gray-200">
        <div class="row row-xs">
          <div class="col"><i class="typcn typcn-archive"></i></div>
          <div class="col"><i class="typcn typcn-arrow-back-outline"></i></div>
          <div class="col"><i class="typcn typcn-arrow-right-outline"></i></div>
          <div class="col"><i class="typcn typcn-attachment-outline"></i></div>
          <div class="col"><i class="typcn typcn-bell"></i></div>
          <div class="col"><i class="typcn typcn-book"></i></div>
          <div class="col"><i class="typcn typcn-bookmark"></i></div>
          <div class="col d-none d-sm-block"><i class="typcn typcn-briefcase"></i></div>
          <div class="col d-none d-sm-block"><i class="typcn typcn-calendar-outline"></i></div>
          <div class="col d-none d-sm-block"><i class="typcn typcn-camera-outline"></i></div>
          <div class="col d-none d-sm-block"><i class="typcn typcn-chart-pie-outline"></i></div>
          <div class="col d-none d-sm-block"><i class="typcn typcn-coffee"></i></div>
        </div><!-- row -->
      </div>
      <div class="az-icon-group bg-gray-800 tx-white">
        <div class="row row-xs">
          <div class="col"><i class="typcn typcn-document-add"></i></div>
          <div class="col"><i class="typcn typcn-document-delete"></i></div>
          <div class="col"><i class="typcn typcn-document-text"></i></div>
          <div class="col"><i class="typcn typcn-edit"></i></div>
          <div class="col"><i class="typcn typcn-export-outline"></i></div>
          <div class="col"><i class="typcn typcn-flash-outline"></i></div>
          <div class="col"><i class="typcn typcn-folder-open"></i></div>
          <div class="col d-none d-sm-block"><i class="typcn typcn-folder"></i></div>
          <div class="col d-none d-sm-block"><i class="typcn typcn-group-outline"></i></div>
          <div class="col d-none d-sm-block"><i class="typcn typcn-mail"></i></div>
          <div class="col d-none d-sm-block"><i class="typcn typcn-message"></i></div>
          <div class="col d-none d-sm-block"><i class="typcn typcn-shopping-cart"></i></div>
        </div><!-- row -->
      </div>
      <p class="mg-t-15 mg-b-0">See more Typicons icons at <a href="https://www.s-ings.com/typicons/" target="_blank">Typicons Icons</a></p>

      <div class="mg-lg-b-30"></div>

    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->